# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [ ]:
# write your answer here
t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [ ]:
# write your answer here
t = (1,3.4,"string",True)
i = 0
while i < len(t):
    print(t[i])
    i += 1

1
3.4
string
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [ ]:
# write your answer here
t = ("aman","rohit","sid","ved")
print(len(t))

4

### Question 4
Access and print the last element of a tuple.

In [ ]:
# write your answer here
t = (1,2,3,4,5)
print(t[-1])

5

### Question 5
Check whether an element exists in a tuple or not.

In [ ]:
# write your answer here
t = (1,2,3,4,5)
print(3 in t)

True

### Question 6
Convert a tuple into a list.

In [ ]:
# write your answer here
t = (1,2,3,4,5)
c = list(t)
print(c)

[1, 2, 3, 4, 5]

### Question 7
Convert a list into a tuple.

In [ ]:
# write your answer here
l = [1, 2, 3, 4, 5]
print(tuple(l))

(1, 2, 3, 4, 5)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [ ]:
# write your answer here
t = (1,2,3,3,4,5)

for i in t:
 print(t.count(i))

1
1
2
2
1
1

### Question 9
Find the index of an element in a tuple.

In [ ]:
# write your answer here
t = (1,2,3,4,5)
print(t.index(4))

3

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [ ]:
# write your answer here
t = ("banana","apple","cherry","orange")
print(t[3])

t[3] = "kiwi"

orange

TypeError: 'tuple' object does not support item assignment