#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [48]:
# write your code here
data = [10, 20, 20, 30, 40, 40]
print(set(data))

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

python
s = {1, 2, 3, 3, 2}
  print(s)

In [46]:
s = {1, 2, 3, 3, 2}
print(s) #output
# why because set removes duplicates

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [45]:
# write your code here
s = set()
for i in range(1,6):
  print(i)
  i+=1

1
2
3
4
5

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [41]:
# write your code here
s = {}
x = set(s)
print(x)
print(type(x))
x.add(10)
print(x)

set()
<class 'set'>
{10}

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [26]:
# write your code here
A = {2, 4, 6, 8}
B = {4, 8, 12}
print(A|B)
print(A.intersection(B))
print(A-B)

{2, 4, 6, 8, 12}
{8, 4}
{2, 6}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [25]:
# write your code here
s = {5, 10, 15, 20}
if 15 in s:
  print("yes")
else:
  print("no")

yes

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [23]:
# write your code here
s = {10, 20, 30, 40}
print(list(s))
s.remove(30)
print(s)

[40, 10, 20, 30]
{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [14]:
# write your code here
nums = [1, 2, 2, 3, 4, 4, 5]
print(set(nums))

{1, 2, 3, 4, 5}

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [4]:
# write your code here
s ={10,20,30}
s.add(20)
print(len(s))

3

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [ ]:
s = {1, 2, [3, 4]}

### Q11
Convert {100, 200, 300} into list and print first element.

In [ ]:
# write your code here

set1={100, 200, 300}

print(set1)

l1=list(set1)


l1[0]

{200, 100, 300}

200

### Q12
Students in two classes:   #union
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [5]:
# write your code here
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
print(class_A.union(class_B))

{'Riya', 'Simran', 'Neha', 'Aman', 'Karan'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [6]:
# write your code here
text = 'programming'
s = set(text)
print(s)

{'r', 'o', 'a', 'n', 'g', 'i', 'p', 'm'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [13]:
# write your code here

# first use split

# and then use set to remove duplicate
sentence = 'python is easy and python is powerful'
words = sentence.split()
unique_words = set(words)
print(unique_words)

{'python', 'powerful', 'is', 'and', 'easy'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [12]:
# write your code here
s = set('hello')
print(s)

{'o', 'h', 'e', 'l'}